<div id="page3">
	<canvas></canvas>
</div>

<style>
	#page3 {
		position: relative;
		height: 100vh;
		width: 100vw;
	}
	#page3 > canvas {
		max-height: 100vh;
		max-width: 100vw;
		position: relative;
	}
</style>
